extends layout

block content
    link(rel='stylesheet', href='/stylesheets/style.css')
    header(class='parallax')
        h1= "General Statistics of the Museum"

    div(class='container bottom-margin')
    div(class='row top-margin left-text left-margin')

        div(class='col-6')
            br
            h1(style="color:#FF9933;") Visitors per hour
            lu
            each count in countPerHour

                li  From  <b style="color:#FF9933;">#{count.ora}</b>  to  <b style="color:#FF9933;">#{count.ora+1}</b>  Visitors:   <b style="color:#FF9933;">#{count.count}</b>
            br
            br
            h1(style="color:#FF9933;") Attraction and Holding Power of POIs

            lu
            each item, poi in visitorsPerPoi
                li(style="color:#FF9933;") #{poi}
                lu
                each count in item
                    li Visitors in Total:  <b style="color:#FF9933;">#{count.count}</b>
                    li For:  <b style="color:#FF9933;">#{count.durata.toFixed(2)}</b> seconds (on average)
                br
            br
      
        div(class='col-6')
        
            h1(style="color:#FF9933;") Points of Interest

            lu
            each poiCount, poi in posizionePerHour
                li(style="color:#FF9933;") #{poi}
                lu
                each count in poiCount
                    li From  <b style="color:#FF9933;">#{count.ora}</b>  to  <b style="color:#FF9933;">#{count.ora +1}</b>  Visitors:   <b style="color:#FF9933;">#{count.count}</b>
                br
            br

    div(class="parallax")