doctype html
html
    head
        title Statistics
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://d3js.org/d3.v5.min.js')

    body
        block content

            header(class='parallax')
                 h1= "Single visitor's stats"

            br
            br

            h1 Visitor <b style="color:#FF9933;">#{visitatori.id}</b> 
            br
            h3 Part of group <b style="color:#FF9933;">#{visitatori.gruppo}</b> that visited in data: <b style="color:#FF9933;">#{visitatori.data}</b>
            h3 Total time spent into the museum: <b style="color:#FF9933;">#{visitatori.visitTime}</b>

            br
            br

            h3 Hold your cursor over the points to see the details

            div(id='timeline')
    
             script(src="/javascripts/timeline.js")

            script. 
                var obj = !{JSON.stringify(posizioni)}
                drawTimeline(obj)

            h1(style= "color:#FF9933;") Presentations
            br

            lu
                each pres in presentazioni

                    li  #{pres.nome} #{pres.paused}

            br
            br

            h1(style= "color:#FF9933;") Positions

            br

            lu
                each poi in posizioni

                    li #{poi.id}  from <b>#{poi.inizio}</b> to <b>#{poi.fine}</b>
        br
        br
        div(class="parallax")
