doctype html
html
    head
        title Statistics
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://d3js.org/d3.v5.min.js')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')

    body
        block content

            header(class='parallax')
                 h1= "Statistics about a single visitor"

            br
            br

            h1 Visitor <b style="color:#FF9933;">#{visitatori.id}</b> 
            br
            h3 Part of group <b style="color:#FF9933;">#{visitatori.gruppo}</b> that visited in data: <b style="color:#FF9933;">#{visitatori.data}</b>
            h3 Total time spent into the museum: <b style="color:#FF9933;">#{visitatori.visitTime}</b>

            br
            br

            h3 Hold your cursor over the points to see the details

            br

            div(id='map')
    
             script(src="/javascripts/map.js")

            script. 
                var obj = !{JSON.stringify(coordinate)}
                drawCircle(obj)

            br
            br

            div(id="tasti")   
                button(onclick="start()") start
                button(onclick="ferma()") stop/resume
                button(onclick="slow()") slow
                button(onclick="fast()") fast

            br 
            br
        
            h1(style= "color:#FF9933;") Presentations
            div(class='container bottom-margin')
                div(class='row top-margin left-margin') 
                    div(class='col-4')
                    div(class='col-4')
                        table(class="table")
                            each pres in presentazioni
                                tr
                                    td(style="color:white;") #{pres.nome} <b style="color:#FF9933;">#{pres.paused}</b>
                    div(class='col-4')
                
            div(class='container bottom-margin')
                div(class='row top-margin left-margin')
                    div(class='col-2')
                    div(class='col-8')
                        h1(style= "color:#FF9933;") Positions

                        br
                        table(class="table")
                            tr
                                th <b style="color:#FF9933;">Poi</b>
                                th <b style="color:#FF9933;">Start</b>
                                th <b style="color:#FF9933;">End</b> 
                            each poi in posizioni
                                tr
                                    td <b style="color:white;">#{poi.id}</b>
                                    td <b style="color:white;">#{poi.inizio}</b>
                                    td <b style="color:white;">#{poi.fine}</b>
                    div(class='col-2')
        div(class="parallax")
